@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.Blog_Container {
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  padding: 80px 0;
  display: grid;
  place-items: center;
}
.Blog {
  width: 52%;
  height: fit-content;
}
.Blog_heading {
  width: 100%;
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: -0.011em;
  line-height: 60px;
  margin: 0;
  font-size: 40px;
  color: rgba(41, 41, 41, 1);
  overflow-wrap: break-word;
  word-break: break-word;
}
.Blog_content {
  width: 100%;
}
.blog__main_description{
  letter-spacing: 0.005em;
  font-size: 21px;
  line-height: 32px;
  font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  overflow-wrap: break-word;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.Blog_content img {
  width: 100%;
  max-height: 650px;
  border-radius: 8px;
  margin: 20px 0;
}
.Blog_content h2 h3  {
  font-family: sohne, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-wrap: break-word;
  word-break: break-word;
  color: rgb(34, 34, 34);
}
.Blog_content h2  {
  margin: 100px 0 40px 0;
  line-height: 35px;
  font-size: 30px;
}
.Blog_content h3 {
  margin: 70px 0 40px 0;
  line-height: 36px;
  font-size: 24px;
}
.Blog_content p {
  letter-spacing: 0.005em;
  font-size: 21px;
  line-height: 32px;
  font-family: charter, Georgia, Cambria, 'Times New Roman', Times, serif;
  word-break: break-word;
  color: rgba(41, 41, 41, 1);
  font-weight: 400;
  overflow-wrap: break-word;
  margin-top: 1.2em;
  margin-bottom: 1.5em;
}
.Blog_content ul , .Blog_content ol   {
  margin-top: 1.5em;
}
.Blog_content ul li, .Blog_content ol li  {
  margin-top: 10px;
}
.Blog_content_reaction_container {
  width: 120px;
  height: 40px;

  justify-content: space-evenly;
  padding: 0;
  display: inline-flex;
  float: right;
}
.Blog_content_reaction_container img {
  width: 30%;
  cursor: pointer;
}
.Blog_content_author_container {
  margin: 10px 5px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  font-size: 18px;
  color: rgba(41, 41, 41, 0.872);
}
@media (max-width: 730px) {
  .Blog {
    width: 100%;
  }
  .Blog_heading,
  .Blog_content {
    width: 80%;
    margin: auto;
  }
  .Blog_content h3 {
    font-size: 26px;
    line-height: 32px;
  }
  .Blog_content p {
    font-size: 16px;
  }
}
